﻿@model SEB_Buzones.Models.Escuadria

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Escuadria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Calidad.Calidad_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calidad.Calidad_marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_espesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_espesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_ancho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_ancho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_largo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_largo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_porcentaje_participacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_porcentaje_participacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_porcentaje_espesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_porcentaje_espesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_porcentaje_ancho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_porcentaje_ancho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_porcentaje_largo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_porcentaje_largo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escuadrias_cantidad_tablas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadrias_cantidad_tablas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
