﻿
@{
    ViewBag.Title = "Index";
}



<div class="container-fluid pr-5 pl-5 mt-5">
    
    <button type="button"
            class="btn btn-primary mt-2 mb-5 btn-block col-xl-4 offset-4"
            data-toggle="modal"
            data-target="#ModalEscuadrias"
            onclick="clear()">
        Escuadria
    </button>

    <table class="table table-bordered table-hover mb-5" id="example">
        <thead class="bg-success">
            <tr>
                <th>Nombre</th>
                <th>Calidad</th>
                <th>Espesor</th>
                <th>Ancho</th>
                <th>Largo</th>
                <th>% Participación</th>
                <th>% Espesor</th>
                <th>% Ancho</th>
                <th>% Largo</th>
                <th>Tablas X Paquete</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>


    <div class="modal fade" id="ModalEscuadrias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Agregar Escuadria</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-xl-12">
                                <label for="Escuadrias_nombre">Nombre de Escuadria</label>
                                <input type="text" class="form-control col-xl-12" id="Escuadrias_nombre" />
                            </div>
                            <div class="form-group col-xl-4" style="display: none;">
                                <label for="Escuadrias_id">id</label>
                                <input type="number" class="form-control" id="Escuadrias_id" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_espesor">Espesor</label>
                                <input type="number" class="form-control" id="Escuadrias_espesor" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_ancho">Ancho</label>
                                <input type="number" class="form-control" id="Escuadrias_ancho" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_largo">Largo</label>
                                <input type="number" step="any" class="form-control" id="Escuadrias_largo" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Calidad_id">Calidad</label>
                                <input type="number" class="form-control" id="Calidad_id" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_cantidad_tablas">Tablas X Paquete</label>
                                <input type="number" class="form-control" id="Escuadrias_cantidad_tablas" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_porcentaje_participacion">% Participación</label>
                                <input type="number" class="form-control" id="Escuadrias_porcentaje_participacion" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_porcentaje_espesor">% Espesor</label>
                                <input type="number" class="form-control" id="Escuadrias_porcentaje_espesor" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_porcentaje_ancho">% Ancho</label>
                                <input type="number" class="form-control" id="Escuadrias_porcentaje_ancho" />
                            </div>
                            <div class="form-group col-xl-4">
                                <label for="Escuadrias_porcentaje_largo">% Largo</label>
                                <input type="number" class="form-control" id="Escuadrias_porcentaje_largo" />
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Agregar</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function() {
            loadData();
        });
        
        function loadData() {
            $('#example').DataTable().clear();
      $.ajax({
        url: "/Escuadrias/List",
        type: "GET",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function(result) {
          
          var tabla = $('#example').DataTable({
              retrieve: true,
            "language":{
              "sProcessing":     "Procesando...",
              "sLengthMenu":     "Mostrar _MENU_ escuadrias",
              "sZeroRecords":    "No se encontraron resultados",
              "sEmptyTable":     "Ningún dato disponible en esta tabla",
              "sInfo":           "Mostrando escuadrias desde N° _START_ a N° _END_ de un total de _TOTAL_ escuadrias",
              "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
              "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
              "sInfoPostFix":    "",
              "sSearch":         "Buscar registro:",
              "sUrl":            "",
              "sInfoThousands":  ",",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
              },
              "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
              }
            }

          });
          
          $.each(result, function (key, item) {
            tabla.row.add([
              item.Escuadrias_nombre,
              item.Calidad_id,
              item.Escuadrias_espesor,
              item.Escuadrias_ancho,
              item.Escuadrias_largo,
              item.Escuadrias_porcentaje_participacion,
              item.Escuadrias_porcentaje_espesor,
              item.Escuadrias_porcentaje_ancho,
              item.Escuadrias_porcentaje_largo,
              item.Escuadrias_cantidad_tablas,
              //'<a href="#" onclick="return getbyID(' + item.Escuadrias_id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.Escuadrias_id + ')">Delete</a>',
              '<button type="button" class="btn btn-info" onclick="return getbyID(' + item.Escuadrias_id + ')">Editar</button> <button type="button" class="btn btn-danger" onclick="Delete(' + item.Escuadrias_id + ')">Eliminar</button>',
              '<td style="display: none;">' + item.Escuadrias_id + '</td>'
              ]);
           
          });
          
          tabla.draw();
          

        },
        error: function (errormessage) {
          console.log(errormessage.responseText);
        }
      });
    }

       

        function Add() {
            $('#btnUpdate').hide();
            $('#btnAdd').show();

            var obj = TransformarDouble();

            var escObj = {
                Escuadrias_nombre: $('#Escuadrias_nombre').val(),
                Calidad_id: $('#Escuadrias_id').val(),
                Calidad_id: $('#Calidad_id').val(),
                Escuadrias_espesor: obj.espesor,
                Escuadrias_ancho: obj.ancho,
                Escuadrias_largo: obj.largo,
                Escuadrias_porcentaje_participacion: $('#Escuadrias_porcentaje_participacion').val(),
                Escuadrias_porcentaje_espesor: $('#Escuadrias_porcentaje_espesor').val(),
                Escuadrias_porcentaje_ancho: $('#Escuadrias_porcentaje_ancho').val(),
                Escuadrias_porcentaje_largo: $('#Escuadrias_porcentaje_largo').val(),
                Escuadrias_cantidad_tablas: $('#Escuadrias_cantidad_tablas').val(),
            };
            $.ajax({
                url: "/Escuadrias/Add",
                data: JSON.stringify(escObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {
                    
                    loadData();
                    $('#ModalEscuadrias').modal('hide');
                    clear();
                },
                error: function(errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function getbyID(EmpID) {
            $('#Escuadrias_nombre').css('border-color', 'lightgrey');
            $('#Escuadrias_id').css('border-color', 'lightgrey');
            $('#Calidad_id').css('border-color', 'lightgrey');
            $('#Escuadrias_espesor').css('border-color', 'lightgrey');
            $('#Escuadrias_ancho').css('border-color', 'lightgrey');
            $('#Escuadrias_largo').css('border-color', 'lightgrey');
            $('#Escuadrias_porcentaje_participacion').css('border-color', 'lightgrey');
            $('#Escuadrias_porcentaje_espesor').css('border-color', 'lightgrey');
            $('#Escuadrias_porcentaje_ancho').css('border-color', 'lightgrey');
            $('#Escuadrias_porcentaje_largo').css('border-color', 'lightgrey');
            $('#Escuadrias_cantidad_tablas').css('border-color', 'lightgrey');
            $.ajax({
                url: "/Escuadrias/getbyID/" + EmpID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function(result) {
                    $('#Escuadrias_nombre').val(result.Escuadrias_nombre);
                    $('#Escuadrias_id').val(result.Escuadrias_id);
                    $('#Calidad_id').val(result.Calidad_id);
                    $('#Escuadrias_espesor').val(result.Escuadrias_espesor);
                    $('#Escuadrias_ancho').val(result.Escuadrias_ancho);
                    $('#Escuadrias_largo').val(result.Escuadrias_largo);
                    $('#Escuadrias_porcentaje_participacion').val(result.Escuadrias_porcentaje_participacion);
                    $('#Escuadrias_porcentaje_espesor').val(result.Escuadrias_porcentaje_espesor);
                    $('#Escuadrias_porcentaje_ancho').val(result.Escuadrias_porcentaje_ancho);
                    $('#Escuadrias_porcentaje_largo').val(result.Escuadrias_porcentaje_largo);
                    $('#Escuadrias_cantidad_tablas').val(result.Escuadrias_cantidad_tablas);

                    $('#ModalEscuadrias').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function(errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }

        function TransformarDouble() {
            var punto = ".", coma = ",";
            var largo = $('#Escuadrias_largo').val();
            var nLargo = largo.replace(punto, coma);
            var espesor = $('#Escuadrias_espesor').val();
            var nEspesor = espesor.replace(punto, coma);
            var ancho = $('#Escuadrias_ancho').val();
            var nAncho = ancho.replace(punto, coma);
            var a = {
                largo: nLargo,
                espesor: nEspesor,
                ancho: nAncho,
            };

            return a;
        }

        function Update() {

            var obj = TransformarDouble();

            var empObj = {
                Escuadrias_nombre: $('#Escuadrias_nombre').val(),
                Escuadrias_id: $('#Escuadrias_id').val(),
                Calidad_id: $('#Calidad_id').val(),
                Escuadrias_espesor: obj.espesor,
                Escuadrias_ancho: obj.ancho,
                Escuadrias_largo: obj.largo,
                Escuadrias_porcentaje_participacion: $('#Escuadrias_porcentaje_participacion').val(),
                Escuadrias_porcentaje_espesor: $('#Escuadrias_porcentaje_espesor').val(),
                Escuadrias_porcentaje_ancho: $('#Escuadrias_porcentaje_ancho').val(),
                Escuadrias_porcentaje_largo: $('#Escuadrias_porcentaje_largo').val(),
                Escuadrias_cantidad_tablas: $('#Escuadrias_cantidad_tablas').val(),
            };

            console.log(obj);
            $.ajax({
                url: "/Escuadrias/Update",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {
                    
                    loadData();
                    console.log("funciono")
                    $('#ModalEscuadrias').modal('hide');

                    clear();

                    $('#btnUpdate').hide();
                    $('#btnAdd').show();
                },
                error: function(errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function Delete(ID) {
            var ans = confirm("Está seguro de eliminar esta Escuadria?");
            if (ans) {
                $.ajax({
                    url: "/Escuadrias/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function(result) {
                        
                        loadData();
                    },
                    error: function(errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function clear() {
            $('#Escuadrias_nombre').val("");
            $('#Calidad_id').val("");
            $('#Escuadrias_id').val("");
            $('#Escuadrias_espesor').val("");
            $('#Escuadrias_ancho').val("");
            $('#Escuadrias_largo').val("");
            $('#Escuadrias_porcentaje_participacion').val("");
            $('#Escuadrias_porcentaje_espesor').val("");
            $('#Escuadrias_porcentaje_ancho').val("");
            $('#Escuadrias_porcentaje_largo').val("");
            $('#Escuadrias_cantidad_tablas').val("");
            
            $('#btnUpdate').hide();
            $('#btnAdd').show();
        }
    </script>

}