﻿@model IEnumerable<SEB_Buzones.Models.Buzon>

@{
    ViewBag.Title = "Asignar";
}
<style>

    .dimension-select {
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
    }
</style>

<h2 class="text-center mb-4">Asignar Buzon</h2>

<div class="row justify-content-center mt-2" >
    <div class="col-xl-10">
        <div class="row" id="lista">
            @* @foreach (var item in Model) *@
@*             { *@
@* *@
@*                 <div class="col-xl-3"> *@
@*                     <label class="col-xl-12"> Buzon</label> *@
@*                     <select class="custom-select" id="lista"> *@
@*                         <option selected>Buzon : @item.Buzon_id</option> *@
@*                         <option value="1">...</option> *@
@*                     </select> *@
@*                 </div> *@
@*             } *@
        </div>
        <div class="mt-4 row">

            <button type="button" class="btn btn-success btn-lg ml-3 mr-4">Organizacion Automatica</button>
            <button type="button" class="btn btn-warning btn-lg mr-4" onclick="Modificar()">Modificar</button>
            <button type="button" class="btn btn-info btn-lg mr-4" id="guardar" style="display: none;" onclick="Actualizar()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-lg" id="cancelar" style="display: none;" onclick="Cancelar()">Cancelar</button>

        </div>
    </div>
   
      

</div>




@section Scripts {

    <script>
        $(document).ready(function() {
            loadEscuadrias();
            loadData();
        });

        var listaEscuadrias = [];
        var actualizarBuzones = [];

        function loadData() {
            $.ajax({
                url: "/Buzons/List",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {
                    var html = '';
                    //console.log(listaEscuadrias);
                    console.log("lista en each");


                    $.each(result,
                        function(key, item) {
                            html += '<div class="col-xl-3 mt-3">';
                            html += '<label class="col-xl-12">Buzon: ' + item.Buzon_id + '</label>';
                            html += '<select class="custom-select" disabled id="select' +
                                item.Buzon_id +
                                '" onchange="actualizarBuzon(' +
                                item.Buzon_id +
                                ')">';
                            html += '<option selected>' +
                                item.Escuadrias_ancho +
                                '/' +
                                item.Escuadrias_largo +
                                '/' +
                                item.Escuadrias_espesor +
                                '</option>';
                            $.each(listaEscuadrias,
                                function(key, item2) {
                                    html += '<option value="' + item2.id + '">' + item2.medidas + '</option>';
                                });

                            html += '</select>';
                            html += '</div>';

                        });
                    $('#lista').html(html);
                },
                error: function(errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function loadEscuadrias() {
            $.ajax({
                url: "/Escuadrias/ListEscuadrias",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {


                    $.each(result,
                        function(key, item) {
                            listaEscuadrias.push({
                                medidas: item.Escuadrias_ancho +
                                    '/' +
                                    item.Escuadrias_largo +
                                    '/' +
                                    item.Escuadrias_espesor,
                                id: item.Escuadrias_id
                            });

                        });

                },
                error: function(errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function actualizarBuzon(Buzon_id) {
            var select = document.getElementById('select' + Buzon_id).value;

            actualizarBuzones.push({
                Buzon_id: Buzon_id,
                Escuadrias_id: select
            });
        }

        function Actualizar() {
            if (actualizarBuzones != null) {
                
                $.ajax({
                    url: "/Buzons/Update",
                    data: JSON.stringify(actualizarBuzones),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        loadData();
                        console.log("funciono")
                      
                    },
                    error: function(errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                
                for (var i = 1; i <= 40; i++) {
                    $("#select" + i).disabled = true;
                }
            }
        }
        
        function Cancelar() {
            loadData();
            $("#guardar").hide();
            $("#cancelar").hide();
            for (var i = 1; i <= 40; i++) {
                $("#select" + i).disabled = true;
            }
        }
        
        function Modificar() {
            $("#guardar").show();
            $("#cancelar").show();

            for (var i = 1; i <= 40; i++) {
                $("#select" + i).removeAttr("disabled");
            }
        }

    </script>
} 
