﻿@model SEB_Buzones.Models.Buzon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Buzon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Escuadria.Escuadrias_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escuadria.Escuadrias_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buzon_cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buzon_cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buzon_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buzon_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buzon_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buzon_estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Buzon_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
