﻿@model IEnumerable<SEB_Buzones.Models.Buzon>

@{
    ViewBag.Title = "Index";
}

<style>
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .progress-bar-vertical {
        width: 100%;
        min-height: 180px;
        display: flex;
        align-items: flex-end;
        margin-right: 20px;
        float: left;
    }

    .progress-bar-vertical .progress-bar {
        width: 100%;
        height: 0;
        -webkit-transition: height 0.6s ease;
        -o-transition: height 0.6s ease;
        transition: height 0.6s ease;
    }

    .vericaltext {
        width: 1px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>


<div class="row justify-content-center mt-2" id="app2">

    <div class="col-8 pl-5">

        @* onclick="cargarDatosBuzon(@item.Buzon_id, '')" *@
        <div class="row mb-5" id="buzones">
                @* <div class="col-1 mr-3 mb-5" > *@
                @*     <a href="#" class="text-decoration-none" > *@
                @*         <div class="text-xl-center"></div> *@
                @*         <div class="progress progress-bar-vertical"> *@
                @*             <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 50%;background-color: #35b100;"> *@
                @*                 <h6>50%</h6> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*         <div class="text-center">  </div> *@
                @*     </a> *@
                @* </div> *@
        </div>

    </div>

    <div class="mt-5"></div>
    <div class="col-4">


        <div  class="card shadow bg-white rounded mb-4">
            <div class="card text-dark bg-light">
                <div class="card-header bg-success text-center text-light">
                    <h4>Detalle del buzon seleccionado</h4>
                </div>
                <div class="card-body ">
                    <h3 class="d-inline"><pre>Buzon                    : <input class="d-inline form-control" disabled id="Buzon"></pre></h3>
                    <h3 class="d-inline"><pre>Escuadria                : <input class="d-inline form-control" disabled id="Escuadria"></pre></h3>
                    <h3 class="d-inline"><pre>N° piezas por paquete    : <input class="d-inline form-control" disabled id="Paquete"></pre></h3>
                    <h3 class="d-inline"><pre>% de buzon               : <input class="d-inline form-control" disabled id="llenado"></pre> </h3>
                </div>
            </div>
        </div>


        <div class="card shadow bg-white rounded mb-4">
            <div class="card text-dark bg-light">
                <div class="card-header bg-success text-center text-light">
                    <h4>Total turno</h4>
                </div>
                <div class="card-body ">
                    <h3><pre>Volumen acumulado        :</pre></h3>
                    <h3><pre>Piezas acumuladas        : <input class="d-inline form-control" disabled id="Acumulado"></pre></h3>
                </div>
            </div>
        </div>


        <div style="width:600px;" class="rounded mx-auto d-block">
            <div class="card shadow bg-white rounded">
                <div class="card text-dark bg-light">
                    <img class="card-img p-5" src="~/imagenes/logobetech.png" />
                </div>
            </div>

        </div>




    </div>
    
    


</div>


@section Scripts {

    <script>
        $(document).ready(function() {
            loadData();
        });

        function loadData() {
            $.ajax({
                url: "/Buzons/List",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {
                    var html = '';
                    var acumulado = 0;

                    $.each(result,
                        function(key, item) {
                            //Porcentaje del buzon
                            var total = parseFloat(Math.round(item.Buzon_cantidad * 100) / item.Buzon_total).toFixed(2);
                            var total2;
                            //Se evalua el porcentaje para asignarle o si es nulo(NaN)
                            if (isNaN(total) || total === 0.00) {
                                total2 = 0;
                            } else {
                                total2 = total;
                            }

                            acumulado += item.Buzon_cantidad;

                            html +=
                                '<div class="col-1 mr-3 mb-5" ><a href="#" class="text-decoration-none" onclick="cargarDatosBuzon(' +
                                item.Buzon_id +
                                ',' +
                                item.Escuadrias_cantidad_tablas +
                                ',' +
                                total2 +
                                ',' +
                                item.Escuadrias_ancho +
                                ',' +
                                item.Escuadrias_largo +
                                ',' +
                                item.Escuadrias_espesor +
                                ')">';
                            html += '<div class="text-center">' + item.Buzon_id + '</div>';
                            html += '<div class="progress progress-bar-vertical">';
                            if (total2 <= 20.00) {
                                html += '<div class="progress-bar" id="progress' +
                                    item.Buzon_id +
                                    '" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: ' +
                                    total2 +
                                    '%;background-color: #00bfff;">';
                            } else if (total2 >= 21.00 && total2 <= 69.00) {
                                html += '<div class="progress-bar" id="progress' +
                                    item.Buzon_id +
                                    '" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: ' +
                                    total2 +
                                    '%;background-color: #32cd32;">';
                            } else if (total2 >= 70.00 && total2 <= 89.00) {
                                html += '<div class="progress-bar" id="progress' +
                                    item.Buzon_id +
                                    '" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: ' +
                                    total2 +
                                    '%;background-color: #ffa500;">';
                            } else if (total2 >= 90.00 && total2 <= 100.00) {
                                html += '<div class="progress-bar" id="progress' +
                                    item.Buzon_id +
                                    '" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: ' +
                                    total2 +
                                    '%;background-color: #b22222;">';
                            }
                            html += '<h6 class="mb-5">' + total2 + '% </h6>';
                            html += '</div>';
                            html += '</div>';
                            html += '<div class="align-left">' + item.Escuadrias_ancho+'/'+ item.Escuadrias_largo+'/'+ item.Escuadrias_espesor + '</div>';
                            html += ' </a></div>';

                        });
                    $('#buzones').html(html);
                    $('#Acumulado').val(acumulado);
                },
                error: function(errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function Carga() {
            loadData();
        }

        function cargarDatosBuzon(Buzon_id, Tablas, Porcentaje, Ancho, Largo, Espesor) {

            $('#Buzon').val(Buzon_id);
            $('#Paquete').val(Tablas);
            $('#llenado').val(Porcentaje);
            $('#Escuadria').val(Ancho + '/' + Largo + '/' + Espesor);

        }

        setInterval(Carga,1000)
    </script>

}


